/* Write your CSS here */
.home-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
.home-image-container {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.home-desktop-image {
  width: 100%;
  max-width: 1110px;
}
@media screen and (min-width: 767px) {
  .home-desktop-image {
    display: none;
  }
}
.home-mobile-image {
  width: 80%;
  max-width: 468px;
}
@media screen and (min-width: 768px) {
  .home-mobile-image {
    display: none;
  }
}
